:root {
    --color-primario: #008248;
    --color-secundario: #D4E9E2;
    --color-background: #F7F7F7;
    --color-background-secundario: #FFFFFF;
    --color-texto: #1f1f1f;
    --color-texto-secundario: #6D6D6D;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-background);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--color-texto);
}

.navbar{
    max-width: 1560px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: var(--color-background-secundario);
}
.nav-izquierda, .nav-derecha{
    display: flex;
    align-items: center;
    gap: 20px;
}
.enlace-menu-principal{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.enlace-menu-principal a{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-texto);
}
.enlace-menu-principal a:hover{
    color: var(--color-primario);
}
.enlace-menu-secundario{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.enlace-menu-secundario a{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--color-texto);
}
.enlace-menu-secundario a:hover{
    color: #6c6c6c;
}
.encuentranos{
    display: flex;
    align-items: center;
    gap: 5px;
}
.boton-inicia, .boton-unete{
    border: 1px solid black;
    font-size: 14px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0);
}
.boton-inicia:hover{
    background-color: rgba(0, 0, 0, 0.06);
}
.boton-unete{
    background-color: black;
    color: white;
}
.boton-unete:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.contenedor-principal{
    display: flex;
}
.imagen-publicidad{
    max-width: 513px;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
}

.imagen-principal{
    max-width: 829px;
    margin: auto;
}

.articulo-navidad{
    padding: 40px 64.5px;
}
.articulo-navidad h1{
    font-weight: normal;
    font-size: 27px;
    padding-bottom: 20px;
}
.articulo-navidad p{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-texto-secundario);
}
.articulo-navidad p strong{
    color: var(--color-texto);
}
.boton-navidad{
    font-weight: bold;
}

.articulo-principal{
    padding: 32px 64.5px;
    display: flex;
    align-items: flex-start;
}
.imagen-articulo-principal{
    width: 346px;
}
.informacion-articulo-principal{
    padding-left: 50px;
    max-height: 346px;
}
.informacion-articulo-principal h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.informacion-articulo-principal h1{
    font-weight: normal;
    font-size: 23px;
    padding-bottom: 20px;
}
.informacion-articulo-principal p{
    padding-bottom: 30px;
    font-size: 14px;
    color: var(--color-texto-secundario);
}

.contenedor-articulos{
    padding: 40px 64.5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.articulo{
    width: 346px;
    height: 385px;
    margin-bottom: 24px;
    box-shadow: 0 2px 8px 1px hsla(0, 0%, 42.4%, .11), 0 1px 1px 0 #ccc;
}
.articulo img{
    width: 346px;
    margin-bottom: 24px;
}

.informacion-articulos {
    align-content: center;
    padding: 0 24px 24px 24px;
}
.informacion-articulos h3{
    font-size: 20px;
    font-weight: normal;
}
.informacion-articulos p{
    font-size: 14px;
    color: var(--color-texto-secundario);
    margin-bottom: 16px;
}

.boton{
    background-color: rgba(0, 0, 0, 0);;
    border: 1px solid var(--color-primario);
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 40px;
    color: var(--color-primario);
}
.boton:hover{
    background: var(--color-secundario);
}

.menu-footer{
    list-style: none;
    padding: 50px;
    line-height: 30px;
}
.titulo-footer{
    font-size: 20px;
    cursor: pointer;
}
.enlace-footer{
    color: var(--color-texto-secundario);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.enlace-footer:hover{
    color: var(--color-texto);
}
.submenu-footer{
    list-style: none;
}
.redes-sociales{
    list-style: none;
    padding: 50px;
}
.enlace-redes{
    height: 40px;
    width: 40px;
}
.menu-secundario-footer{
    list-style: none;
    padding: 50px;
    line-height: 30px;
}
.enlace-footer-secundario{
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
}
.enlace-footer-secundario:hover{
    color: var(--color-texto-secundario);
}



